---
import { Image } from "astro:assets";
import profile from "../assets/jenprofile.jpeg";
import dragon from "../assets/dragon.png";
import walking from "../assets/walking.png";
import masks from "../assets/PASSWORD.png";
import roamer from "../assets/PASSWORD.png";
import escape from "../assets/PASSWORD.png";
import waiting from "../assets/PASSWORD.png";
import "./styles.css";
import { ViewTransitions } from "astro:transitions";
// Supports weights 300-700
import "@fontsource-variable/space-grotesk";

const projects = [
  {
    title: "Why Walk?",
    image: walking,
    href: "walking",
    info: "Why isn't there an educational game about walkable cities? Oh wait, now there is!",
  },
  {
    title: "Dragon Battle RPG",
    image: dragon,
    href: "dragon",
    info: "Can you defeat the dragon in this RPG web game?",
  },
  {
    title: "Guilty Masks",
    image: masks,
    href: "masks",
    info: "Unmask your friends' secrets in this CYOA Twine game!",
  },
  {
    title: "Sweet Escape",
    image: escape,
    href: "escape",
    info: "Unmask your friends' secrets in this CYOA Twine game!",
  },
  {
    title: "Roamer",
    image: roamer,
    href: "roamer",
    info: "Unmask your friends' secrets in this CYOA Twine game!",
  },
  {
    title: "Waiting Room",
    image: waiting,
    href: "waiting",
    info: "Unmask your friends' secrets in this CYOA Twine game!",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Portfolio Page</title>
    <link rel="stylesheet" href="styles.css" />
    <ViewTransitions />
  </head>

  <body>
    <div class="container">
      <div class="profile">
        <div>
          <Image class="profile-image" src={profile} alt="me" />
        </div>
        <h1>Hi, I'm Jen!</h1>
        <p class="bio">
          I'm an aspiring web and game developer currently studying Digital
          Media at UCF. Striving to make my own vintage style horror game and
          create unique and exciting websites.
        </p>

        <div class="icons">
          <a
            href="https://docs.google.com/document/d/1y6KogTM-77zl3HpO0swl2cJmguuPq9JP/edit?usp=sharing&ouid=112253065582950476881&rtpof=true&sd=true"
            target="_blank"><span class="mdi--resume icon-image"></span></a
          >

          <a href="https://linkedin.com/in/jen-tyler" target="_blank"
            ><span class="mdi--linkedin icon-image"></span></a
          >
          <a href="https://github.com/chickenjenders" target="_blank"
            ><span class="mdi--github icon-image"></span></a
          >
          <a href="mailto: jgtyler99@gmail.com" target="_blank"
            ><span class="mdi--email icon-image"></span></a
          >
        </div>
      </div>

      <div class="projects">
        <div class="center">
          <h2 class="center-text glitch is-glitching" data-text="-Projects-">
            -Projects-
          </h2>
        </div>

        {
          projects.map((project, i) => {
            return (
              <a
                href={"./" + project.href}
                transition:name={project.href}
                class="project-container"
              >
                <Image
                  class="project-image"
                  src={project.image}
                  alt="project image"
                />
                <div class="project-info">
                  <h2>{project.title}</h2>
                  <p class="description">{project.info}</p>
                </div>
              </a>
            );
          })
        }
      </div>
    </div>
  </body>
</html>
