---
import { Image } from "astro:assets";
import profile from "../assets/jenprofile.jpeg";
import dragon from "../assets/dragon.png";
import walking from "../assets/walking.png";
import masks from "../assets/PASSWORD.png";
import resume from "../assets/resume.png";
import email from "../assets/email.png";
import github from "../assets/github.png";
import linkedin from "../assets/linkedin.png";
import "./styles.css";
import { ViewTransitions } from "astro:transitions";
// Supports weights 300-700
import "@fontsource-variable/space-grotesk";

const projects = [
  {
    title: "Why Walk?",
    image: walking,
    href: "walking",
    info: "Why isn't there an educational game about walkable cities? Oh wait, now there is!",
  },
  {
    title: "Dragon Battle RPG",
    image: dragon,
    href: "dragon",
    info: "Can you defeat the dragon in this RPG web game?",
  },
  {
    title: "Guilty Masks",
    image: masks,
    href: "masks",
    info: "Unmask your friends' secrets in this CYOA Twine game!",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Portfolio Page</title>
    <link rel="stylesheet" href="styles.css" />
    <ViewTransitions />
  </head>

  <body>
    <div class="container">
      <div class="profile">
        <div>
          <Image class="profile-image" src={profile} alt="me" />
        </div>
        <h1>Hi, I'm Jen!</h1>
        <p class="bio">
          I am an aspiring web and game developer currently studying Digital
          Media at UCF. I dream of making my very own vintage style horror game
          and websites better than my husband's.
        </p>
        <div class="icons">
          <a
            href="https://docs.google.com/document/d/1y6KogTM-77zl3HpO0swl2cJmguuPq9JP/edit?usp=sharing&ouid=112253065582950476881&rtpof=true&sd=true"
            target="_blank"
            ><Image src={resume} alt="resume" class="icon-image" /></a
          >
          <a href="https://linkedin.com/in/jen-tyler" target="_blank"
            ><Image src={linkedin} alt="linkedin" class="icon-image" /></a
          >
          <a href="https://github.com/chickenjenders" target="_blank"
            ><Image src={github} alt="github" class="icon-image" /></a
          >
          <a href="mailto: jgtyler99@gmail.com" target="_blank"
            ><Image src={email} alt="email" class="icon-image" /></a
          >
        </div>
      </div>

      <div class="projects">
        <h1 class="project-header">-Projects-</h1>
        {
          projects.map((project, i) => {
            return (
              <a
                href={"./" + project.href}
                transition:name={project.href}
                class="project-container"
              >
                <Image
                  class="project-image"
                  src={project.image}
                  alt="project image"
                />
                <div class="project-info">
                  <h2>{project.title}</h2>
                  <p class="description">{project.info}</p>
                </div>
              </a>
            );
          })
        }
      </div>
    </div>
  </body>
</html>
